<div class="item-detal">
  <h1>商品詳細</h1>
  <div class="item-image">
    <%= attachment_image_tag @item, :image, size: "200x200", format: 'jpeg', fallback: "no_image.jpg" %>
  </div>
  <dl>
    <dl>
      <dt>商品名</dt>
      <dd><%= @item.name %></dd>
      <dt>商品説明</dt>
      <dd><%= @item.introduction %></dd>
      <dt>ジャンル</dt>
      <dd><%= @item.genre.name %></dd>
      <dt>
        税抜価格<br>
        (税込価格)
      </dt>
      <dd><%= @item.price %>円<%= @item.add_tax_price.to_s(:delimited) %>円</dd>
      <dt>販売ステータス</dt>
      <dd><%= @item.status %></dd>
      <%= link_to '編集', edit_admin_item_path(@item.id) %>
    </dl>
  </dl>
</div>