  <div class="container-fluid">
    <div class="admin-login-content mx-auto">
      <div class="row justify-content-center">
        <%= form_with model: @admin, url: admin_session_path, local: true do |f| %>
          <div class="row">
            <h2 class="admin-login my-4 px-1 text-center">管理者ログイン</h2>
          </div>

          <div class="field-box">
            <div class="field">
              <div class="row">
                <p class=""><%= f.label :メールアドレス %></p>
              </div>
              <div class="row">
                <p class="text-right"><%= f.email_field :email, autofocus: true, autocomplete: "email" %></p>
              </div>
            </div>

            <div class="field">
                <div class="row">
                  <p class="text-left"><%= f.label :パスワード %></p>
                </div>
                <div class="row">
                  <p class="text-right"><%= f.password_field :password, autocomplete: "current-password" %></p>
                </div>
            </div>

            <div class="actions">
              <div class="row justify-content-center">
                <%= f.submit "ログイン" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

<%= render "admin/shared/links" %>
