<div class='row'>
  <div class='col-md-8 offset-md-2'>
    <hr>
    <p class='main'>注文情報確認</p>
    <table  class="table table-hover table-inverse">
      <thead>
        <th>商品名</th>
        <th>単価（税込）</th>
        <th>数量</th>
        <th>小計</th>
        <th></th>
      </thead>
      <% @sum = 0 %>
      <% @cart_items.each do |cart| %>
      <tbody>
        <tr>
          <td><%= cart.item.name %></td>
          <td>¥<%= cart.item.add_tax_price.to_s(:delimited) %></td>
          <td><%= cart.count %></td>
          <td>¥<%= (cart.item.add_tax_price * cart.count).to_s(:delimited) %></td>
          @sum
        </tr>
      </tbody>
      <% end %>
    </table>
    <hr>
    <div class="text-right">
      <h6>ご請求金額</h6>
      <h3>¥<%= @sum.to_s(:delimited) %></h3>
      <hr>
      <h6>お届け先</h6>
      <h5>〒<%= @order.postal_code %>　<%= @order.address %></h5>
      <h5><%= @order.name %></h5>
      <hr>
      <div>
        <%= form_with model: @order, url: orders_path, method: :post, local: true do |f| %>
          <%= f.hidden_field :name %>
          <%= f.hidden_field :address %>
          <%= f.hidden_field :postal_code %>
          <%= f.hidden_field :total_payment, value: @sum %>
          <%= f.submit "注文を確定する" %>
        <% end %>
      </div>
    </div>
  </div>
</div>