<div class='container'>
  <div class='row mt-4 mb-2'>
      <h1>Cake Information</h1>
  </div>
</div>

<div class='container'>
  <div class='row'>
    <div class='col-2 px-0 bg-light px-2 py-2'>
      <p class='genre'>Genres</p>
      <hr class='hr0'>
      <%= render partial: 'genre', locals: { genres: @genres } %>
    </div>
    <div class='col-md-9 offset-md-1'>
      <div class='row'>
        <div class='col'>
          <%= attachment_image_tag @item, :image, fallback: "no-image.jpg" %>
        </div>
        <div class='col'>
          <p class='cake_name'><%= @item.name %></p>
          <p class='cake_introduction'><%= @item.introduction %></p>
          <p>価格:¥<%= @item.add_tax_price.to_s(:delimited) %>(税込)</p>
          <%= form_with model: @cart_items do |f| %>
            <%= f.hidden_field :item_id, value: @item.id %>
            <%= f.select :count, options_for_select((1..10).to_a), {include_blank: "個数"} %>
            <%= f.submit "カートに入れる" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>